

/* . for class , # for id */
.authentication{
    position: absolute;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
h1 {
    width: 240px;
    height: 200px;
}

/*hover functionality for button*/
input.main{
    position: relative;
    background-color: red;
    border-radius: 50px;
    border: 1px solid #8ac4ff;
    width: 200px;
    padding-block: 8px;
    color:#8ac4ff;
  
}

input.main:hover{
    position: relative;
    background-color: #8ac4ff;
    border-radius: 50px;
    border: 1px solid white;
    width: 200px;
    padding-block: 8px;
    color: white;
}

input#continue{
    position: relative;
    text-align: center;
    padding-top: 50px;
    border: none;
    background-color: white;
    width: 250px;
}
input#continue:hover{
    position: relative;
    text-align: center;
    padding-top: 50px;
    border: none;
    background-color:white;
    width: 250px;
    font-weight: bold;
}