.Login{
    position: absolute;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    /* background-color: red; */
}



h1 {
    width: 240px;
    height: 200px;
    text-align: center;

    position: relative;
	display: block;
	margin-top: 50px;
}
/* should move "Username" and "Password" left but isn't working */
label{
    color: black;
    font-size: small;
    position:relative;
    text-align: left;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

input{
    width: 200px;
    padding-block: 8px;
    border: 1px solid #8ac4ff;
    text-align: left;
}

/*hover functionality for button*/
input.main{
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #8ac4ff;
    width: 200px;
    padding-block: 8px;
    color:#8ac4ff
}

input.main:hover{
    background-color: #8ac4ff;
    border-radius: 50px;
    border: 1px solid white;
    width: 200px;
    padding-block: 8px;
    color: white;
}

p#debugging{
    padding-top: 100px;
}