.myCloset{
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
}
.heading {
	position: relative;
	display: block;
	margin-top: 15px;

    /* try to fit heading properly */
    padding-bottom: 20px;

	font-size: 28px;
	line-height: 28px;
	/* identical to box height, or 140% */

	align-items: center;
	text-align: center;

	color: #04151F;
}

.menu{
    position:absolute;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width:100%;
    margin: auto;
    
}

.tab-item{
    border: solid black 1px;
    width:25%;
}
.tab-item:hover{
    background-color: gray
}
.tops{
	/* display:none; */
	display: none;
}
.bottoms{
	/* display:none; */
	display: none;
}
.accessories{
	/* display:none; */
	display: none;
}
.footwear{
	/* display:none; */
	display: none;
}
.clothing {
	position: relative;
	width: 295px;
	height: 400px;
    
	top: 150px; 

	margin-left: 47px;
	margin-bottom: 25px;
	
	/*background-color: #f6f6f6;*/
	background-color: #f6f6f6;

	border-radius: 10px;
}
.clothingHead {
	position: absolute;
	left: 16%;
	right: 16%;
	bottom: 80%;

	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	align-items: center;
	text-align: center;
	/*text-decoration-line: underline; */

	color: #04151F;
}

h2.clothingType{
	position: relative;
	display: block;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

img {
	position: absolute;
	left: 10.68%;
	right: 10.68%;
	
    /* center image in section*/
    display: block;
    margin-left: auto;
    margin-right: auto;

	bottom: 25%;

	background: #C4C4C4;
	border-radius: 10px;
}

p {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 75%;
	

	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height, or 175% */

	align-items: center;

	color: #04151F;
}


