.myOutfits .heading {
	position: absolute;
	
	margin-left: 114px;
	margin-top: 109px;

	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	/* identical to box height, or 140% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.myOutfits .outfit {
	position: relative;
	width: 281px;
	height: 365px;
	top: 214px;

	margin-left: 47px;
	margin-bottom: 20px;
	
	background-color: #f6f6f6;
}

.myOutfits .outfit h2 {
	position: absolute;
	left: 16%;
	right: 16%;
	bottom: 82%;

	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	align-items: center;
	text-align: center;
	/*text-decoration-line: underline; */

	color: #000000;

}

.myOutfits .outfit img {
	position: absolute;
	left: 10.68%;
	right: 10.68%;
	
	bottom: 25%;

	background: #C4C4C4;
}

.myOutfits .outfit p {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 75%;
	

	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height, or 175% */

	align-items: center;

	color: #000000;
}