.tryOn{
	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
}
.heading {
	position: relative;
	display: block;
	margin-top: 15px;

    /* try to fit heading properly */
    padding-bottom: 20px;

	font-size: 28px;
	line-height: 28px;
	/* identical to box height, or 140% */

	align-items: center;
	text-align: center;

	color: #04151F;
}

#mannequin{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 500px;
}

#outfitButton{
	background-color: gray;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 15px;

	float: right;
	margin-left: auto; 
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	height: 35px;
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width:100%;
	height: 30px;
	margin-top: 20px;
    
}
#form {
	border: 1px solid black;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 20px;
	background-color: white;
	height: 25px;
	border-radius: 12px; /* round borders */
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

input {
	all: unset;
	font: 16px system-ui;
	color: black;
	height: 100%;
	width: 100%;
	padding: 6px 10px;
}

button {
	all: unset;
	cursor: pointer;
	width: 44px;
	height: 44px;
}
  
svg {
	color: gray;
	fill: currentColor;
	width: 24px;
	height: 24px;
	padding: 10px;
}
.tab-item{
	background-color: lightgray;
    width:25%;
	text-align: center;
}
.tab-item:hover{
    background-color: gray;
	color: white;
}
.tops{
	/* display:none; */
	display: none;
}
.bottoms{
	/* display:none; */
	display: none;
}
.accessories{
	/* display:none; */
	display: none;
}
.footwear{
	/* display:none; */
	display: none;
}
.clothing {
	position: relative;
	width: 295px;
	height: 380px;
    
	/* top: 150px;  */
	
	margin-left: 47px;
	margin-bottom: 25px;
	
	/*background-color: #f6f6f6;*/
	background-color: #f6f6f6;

	border-radius: 10px;
}
.clothingHead {
	position: absolute;
	left: 16%;
	right: 16%;
	bottom: 80%;

	font-family: Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	/* identical to box height, or 140% */

	align-items: center;
	text-align: center;
	text-decoration-line: underline;

	color: #04151F;
}

h2.clothingType{
	position: relative;
	display: block;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.clothingImg {
	position: absolute;
	left: 10.68%;
	right: 10.68%;
	
    /* center image in section*/
    display: block;
    margin-left: auto;
    margin-right: auto;

	bottom: 22%;

	background: #C4C4C4;
	border-radius: 10px;
}

.tryOn{
	border: 1px solid black;
	background-color: white;
	position: absolute;
	width: 90%;
	display: block;
    margin-left: 5%;
    margin-right: 5%;
	font-size: 16px;
	font-weight: 300;
	bottom: 5%;
	border-radius: 10px;
	text-align: center;
}

p {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 75%;
	

	font-family: Verdana;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	/* identical to box height, or 175% */

	align-items: center;

	color: #04151F;
}


